<ion-view view-title="Latest Post" class="">
    <ion-content>
      <div class="loaderScope" ng-show="loading">
      <!-- <div class="lds-css ng-scope" ng-show="loading"> -->
  <div class="lds-css ng-scope" ng-show="loading">
  <div style="width:100%;height:100%" class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>
</div>
<div ng-if = "postData.length > 0 ">
      <div class="list card" ng-repeat="x in postData">
        <div class="item item-body latestPost">
            <div ng-if = "x.featured_media > 0 ">
                <div class="featuredImage">
                    <img src="{{x.featured_image_thumbnail_url}}" alt="">              
                </div>
            </div>
            <div ng-if = "x.featured_media == 0 ">
                <div class="featuredImage">
                    <img src="img/image-coming-soon.jpg" alt="">      
                </div>
            </div>
            <h3 ng-bind-html="x.title.rendered"></h3>
            <p ng-bind-html="x.excerpt.rendered" class="postsummary"></p>
            <div class="row">
                <div class="col col-80 readMore"><p>
                  <a href="#" ng-click="postDetails(x.id)"> <i class = "icon ion-android-globe"></i>Read More</a></p>
                </div>
                <div class="col col-10 col-offset-10 padding shareIcon">
                   <a href="" ng-click="share(x.title.rendered, x.excerpt.rendered);">
                      <i class = "icon ion-android-share-alt"></i>
                   </a>
                </div>
              </div>
        </div>
        
        <!-- 
          Author Info 
          <div class="item item-avatar">
      <img src="{{x._embedded.author[0].avatar_urls[96]}}" alt="">
          <h2>{{x._embedded.author[0].name}}</h2>
          <p>{{x.date}}</p>
        </div> -->
      </div>
    </div>
    <div ng-if = "postData.length == 0 ">
        <div class="card">
            <div class="item item-text-wrap">
                <p class="text-center"><i class="ion-close-circled"></i> </p> 
                <p class="text-center"> No Posts Found :(  </p>
            </div>
          </div>
    </ion-content>
</ion-view>



<!-- ion-android-globe -->
<!-- ion-ios-refresh
ion-videocamera
-->